* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: url("../public/assets/media/plano-de-casa.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
  color: white;
  position: relative;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: white;
  padding: 20px 5%;
  z-index: 10;
  border-bottom: 2px white solid;
}
